html{
  /*box-sizing: border-box;*/
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading-container, .footer{
  display: flex;
  justify-content: space-between;
  background-color: burlywood;
  padding: 10px;
  color: rgb(113, 29, 29);
}

.title-container{
  display: flex;
  background-color: blanchedalmond;
  padding: 10px;
  padding-bottom: 0;
  justify-content: space-around;
}

.title-items{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  padding: 10px;
  padding-bottom: 0;
  color: rgb(100, 16, 16);
}

#item-story{
  font-size: 15px;
}

.item-title{
  letter-spacing: 10px;
  font-family: serif;
}

.title-items div{
  font-size: 60px;
  display: flex;
  align-items: center;
}

.subtitle-container{
  font-family: serif;
  display: flex;
  justify-content: center;
  background-color: blanchedalmond;
  color: rgb(100, 16, 16);
  padding-bottom: 10px;
  letter-spacing: 6px;
}

.body-container{
  display: flex;
  justify-content: center;
  height: 800px;
  background-color: rgb(255, 221, 141);
}

.left-panel, .right-panel{
  flex:1;
}

.content {
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.content .recipe-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.content img{
  width: 300px;
  border: 2px dotted brown;
}

.content a {
  font-size: 40px;
  letter-sp
}

.footer div {
  display: flex;

}

.footer a {
  margin-left: 5px;
}
.footer img {
  height: 20px;
  margin-right: 10px;
}