html{
  /*box-sizing: border-box;*/
  font-family: 'Trebuchet MS', sans-serif, sans-serif;
}

body{
  background-color: rgb(51, 51, 255);
}

.heading{
  padding: 20px;
  background-color: gold;
  border-radius: 20px;
  border: 6px solid orange;
  margin: 30px;
}

.title{
  font-size: 60px;
  color: rgb(0, 6, 125);
  text-align: center;
  margin: 0 0;
}

.recipe{
  margin-bottom: 20px;
  background-color: rgb(248, 241, 156);
  font-size: 40px;
  text-align: center;
  border-radius: 20px;
  border: 4px dotted orange;
  padding: 20px;
}

.recipe-list {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}